# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Rick van den Hof
	email = r.hof@avisi.nl
	signingKey = 5AA90265B89E1BBA!
[commit]
	gpgsign = true
[core]
	hooksPath = /Users/rick/Documents/Klanten/Avisi/git-hooks/hooks
