# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Rick van den Hof
	email = rick@vandenhof.eu
    signingKey = DB520DC26F1AB7F8!
[commit]
	gpgsign = true

[includeIf "gitdir:~/Documents/Klanten/Avisi/**"]
    path = ~/Documents/Klanten/Avisi/.gitconfig
