.CFUserTextEncoding
.DS_Store
.Trash/
.ssh/id_rsa
.ssh/id_dsa
.bash_history
.asdm
.vagrant.d
.composer
.cups
.zsh-update
.zsh_history
.gem
.gpg-agent-info
.mysql_history
.lesshst
.tox
.oracle_jre_usage
.viminfo
.r10k
.gnupg/secring.gpg
.gnupg/reader_0.status
.gnupg/random_seed
.gnupg/private-keys-v1.d
.gnupg/.\#*
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
.ssh/known_hosts
.vim/.netrwhist
